.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  border: 1px solid black;
  width: 400px;
  margin: 10px;
  padding: 10px;
}

.post h4 {
  text-align: center;
}
