<button (click)="onClickUpdate()">Actualizar POSt</button>
<button (click)="onClickDelete()">Borrar POSt</button>

<div>
  <form [formGroup]="formularios" (ngSubmit)="onSubmit()">
    <div>
      <label for="">Titulo</label>
      <input type="text" formControlName="title" />
    </div>

    <div>
      <label for="">Cuerpo</label>
      <input type="text" formControlName="body" />
    </div>

    <div>
      <label for="">Id User</label>
      <input type="text" formControlName="UserId" />
    </div>

    <input type="submit" value="Enviar" />
  </form>
</div>

<div class="posts">
  <div class="post" *ngFor="let item of arrayPost" (click)="onClick(item.id)">
    <h3>{{ item.title }}</h3>
    <p>{{ item.body }}</p>
    <p>{{ item.userId }}</p>
  </div>
</div>
